@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 52, 12);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: rgb(23, 102, 23);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid rgb(12, 52, 12);
    border-radius: 20px;
    color: white;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
}

.search::placeholder {
    color: rgb(219, 237, 15)
}

.search:focus {
    background-color: rgb(12, 52, 12);
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: rgb(23, 102, 23);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 1.5rem;
    overflow: hidden;
    position: relative;
}

.movie img {
    object-fit: cover;
    height: 350px;
    width: 100%;
}

.movie-info {
    color: rgb(248, 248, 7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;

}

.movie-info h3 {
    margin: 0;
    font-size: 18px;
}

.movie-info span {
    background-color: rgb(8, 63, 8);
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    border-radius: 3px;
}

.movie-info span.green {
    color: rgb(6, 241, 249)
}

.movie-info span.orange {
    color: rgb(9, 72, 246)
}

.movie-info span.red {
    color: rgb(248, 8, 8);
}

.overview {
    background-color: white;
    padding: 2rem;
    position: absolute;
    max-height: 80%;
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: ransform 0.3s ease-in;
}

.overview h4 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);

}

.heading {
    background-color: rgb(23, 102, 23);
    color: yellow;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.releasedate {
    color: yellow;
    font-size: 15px;
    margin-left: 15px;
}

@media screen and (min-width: 576px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    body {
        grid-template-columns: 200px 1fr;
    }
}

@media screen and (min-width: 1200px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
